<div class="navbar bg-base-100 shadow-sm">
    <div class="flex-1">
      <a class="btn btn-ghost text-xl">Balancix</a>
    </div>
    <div class="flex-none">
      <ul class="menu menu-horizontal px-1">
        <li><a>Dashboard</a></li>
        <li>
          <details>
            <summary>Perfil</summary>
            <ul class="bg-base-100 rounded-t-none p-2">
              <li><a>Ajustes</a></li>
              <li><a>Pagos</a></li>
            </ul>
          </details>
        </li>
      </ul>
    </div>
  </div>

